@model MVCTutorial.Ogloszenie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Ogloszenie</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Tytul)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Tytul)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Opis)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Opis)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Sprzedajacy.Login)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Sprzedajacy.Login)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cena)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cena)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
